
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">Търсачка за филми</h3>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="Тук търси..." name="q"
               class="form-control" required="">
        <button type="submit"class="btn1 btn"><span class="fa fa-search"
                                       aria-hidden="true"></span></button>
    </form>
</div>
<!--preference -->
<div class="left-side my-4">
    <h3 class="sear-head editContent">Жанрове</h3>
    <ul class="w3layouts-box-list">
        <li class="editContent">
            {% for genre in view.get_genres %}
            <input type="checkbox" class="checked">
            <span class="span editContent">{{ genre.name }}</span>
        </li>
            {% endfor %}
    </ul>
</div>
<!-- // preference -->
<!-- discounts -->
<form action="{% url 'filter' %}" method="get">
    <div class="left-side">
        <h3 class="sear-head editContent">Година</h3>
        <ul class="w3layouts-box-list">
            {% for movie in view.get_years %}
            <li class="editContent">
                <input type="checkbox" class="checked" name ='year' value = {{ movie.year }}>
                <span class="span editContent">{{ movie.year }}</span>
            {% endfor %}
            </li>
        </ul>
    </div>
    <button type="submit">Търси</button>
</form>

